/* @import url('https://fonts.googleapis.com/css?family=Rancho');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Kanit:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700'); */

/*
font-family: 'Oswald', Arial, sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/

html {
	border-top: solid 3px #ffd51d;
}
body{
	font-family: 'Oswald', sans-serif;
	color:#4A4A4A;
	padding-bottom: 100px;
	background: #efefef;
}

body.bg-home{
	/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
	/* background-image: url(/vestibular/public/assets/presencial/images/bg-vestibular-mobile.jpg); */
	background-image: url(/vestibular/public/assets/presencial/images/bg_geral_mobile.jpg);
	background-repeat: no-repeat;
	background-size: 110% 180%;
}
body.bg-home-dua{
	/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
	/* background-image: url(/vestibular/public/assets/presencial/images/bg-vestibular-mobile.jpg); */
	background-image: url(/vestibular/public/assets/images/bg_dua_mobile.png);
	background-repeat: no-repeat;
	background-size: cover;
	/* background-position: bottom bottom */
}
body.bg-home-umesp{
	/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
	/* background-image: url(/vestibular/public/assets/presencial/images/IZABELA-bg-vestibularBG_MOBILE.JPG); */
	background-image: url(/vestibular/public/assets/presencial/images/umesp_bg_mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
body.bg-home-izabela{
	/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
	/* background-image: url(/vestibular/public/assets/presencial/images/IZABELA-bg-vestibularBG_MOBILE.JPG); */
	background-image: url(/vestibular/public/assets/presencial/images/izabela_bg_mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
body.bg-home-ipa{
	/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
	/* background-image: url(/vestibular/public/assets/presencial/images/IPA-bg-vestibularBG_MOBILE.JPG); */
	background-image: url(/vestibular/public/assets/presencial/images/ipa_bg_mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
body.bg-home-granbery{
	/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
	/* background-image: url(/vestibular/public/assets/presencial/images/GRANBERY-bg-vestibularBG_MOBILE.JPG); */
	background-image: url(/vestibular/public/assets/presencial/images/granbery_bg_mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
body.bg-home-fames{
	/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
	/* background-image: url(/vestibular/public/assets/presencial/images/FAMES-bg-vestibularBG_MOBILE.JPG); */
	background-image: url(/vestibular/public/assets/presencial/images/centenario_bg_mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
body.bg-home-unimep{
	/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
	background-image: url(/vestibular/public/assets/presencial/images/unimep_bg_mobile.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header.navegacao{
	background: #fff;
	border-bottom: solid 1px #DFDFDF;
}

.carousel-inner .carousel-item img {max-width:100%;}



/*============ ESTRUTURA ============*/
.barra-varejo{
	padding: 15px 0;
}
.area-inscricao{
	padding: 15px 0;
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
 	margin-top: 50px;
	border-radius: 4px;
}
.area-inscricao-cursos{
	background: rgba(0, 0, 0, 0.8);
	color: #FFF;
	margin-top: 30px;
	border-radius: 4px;
	padding-bottom: 15px;
}

.area-inscricao ul,.area-inscricao-cursos ul {
	list-style: none;
	padding: 0;
	border: none;
}
.modalidades{
	float: left;
}

.modal-curso{
	/*background: #f96868;*/
	background: #0e314e; /* Old browsers */
	background: -moz-linear-gradient(top, #0e314e 0%, #4c7da5 50%, #0e314e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0e314e 0%,#4c7da5 50%,#0e314e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0e314e 0%,#4c7da5 50%,#0e314e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e314e', endColorstr='#0e314e',GradientType=0 ); /* IE6-9 */
    border-radius: 4px 0 0 4px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.modal-curso span{
	color:#fff;
	text-transform: uppercase;
	font-size: 16px;
}
.dura-curso{
	/*background: #46be8a;*/
	background: #115a66; /* Old browsers */
	background: -moz-linear-gradient(top, #115a66 0%, #58a8b5 50%, #115a66 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #115a66 0%,#58a8b5 50%,#115a66 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #115a66 0%,#58a8b5 50%,#115a66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#115a66', endColorstr='#115a66',GradientType=0 ); /* IE6-9 */
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.dura-curso span{
	color:#fff;
	text-transform: uppercase;
	font-size: 16px;
}
.modo-curso{
	/*background: #57c7d4;*/
	background: #ca5b2b; /* Old browsers */
	background: -moz-linear-gradient(top, #ca5b2b 1%, #fca47e 50%, #ca5b2b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ca5b2b 1%,#fca47e 50%,#ca5b2b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ca5b2b 1%,#fca47e 50%,#ca5b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca5b2b', endColorstr='#ca5b2b',GradientType=0 ); /* IE6-9 */
    border-radius: 0 4px 4px 0;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.modo-curso span{
	color:#fff;
	text-transform: uppercase;
	font-size: 16px;
}

/* ÍCONES */
.modo-curso i.fas, .dura-curso i.far, .modal-curso i.fas{
	color: #fff;
	text-align: center;
	font-size: 4.5em;
	margin: 0 auto 15px;
}

/*============ SESSÕES ============*/
section{
	margin: 30px auto;
}
section#modalida form.form-escolha .modo-curso span{
	margin: 0 10px;
}
section#descricao-curso ul.box-investimento{
	list-style: none;
    /*background: #404040;*/
	background: #494949; /* Old browsers */
	background: -moz-linear-gradient(top, #494949 0%, #161616 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #494949 0%,#161616 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #494949 0%,#161616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
    color: #fff;
    border-radius: 4px;
    padding: 15px;
	font-weight: 300;
}
section#descricao-curso ul.box-investimento li:first-child{
	font-family: 'Kanit', sans-serif;
	font-weight: 600;
	text-align: center;
	font-size: 4em;
}
ul.box-investimento li {
    font-size: 13px;
}
section#descricao-curso ul.box-investimento li:nth-child(2){
	font-weight: 400;
	font-size: 1.5em;
	text-align: center;
	padding: 15px 0;
	border-bottom: solid 1px rgba(255, 255, 255, 0.4);
	margin-bottom: 15px;
}
section#descricao-curso ul{
	min-height: 270px;
}

/* section#descricao-curso ul.box-investimento li ul.box-polos {
	list-style: none;
	background: #494949;
	color: #fff;
	padding:1em;
	height:10px;
}

section#descricao-curso ul.box-investimento li ul.box-polos li {
	font-size:0.95em;
	float:left;
	margin-left:0.1em;
	border-bottom:1px solid #666;
	padding-bottom:10px;
	font-weight: none;
} */

section#sobre-curso .info-curso{
	margin: 0 15px 30px 0;
    border-left: 10px solid #ff8756;
    padding: 0 0 0 30px;
	width:100%;
}

section#sobre-curso .info-curso-mt{
	margin: 0 15px 30px 0;
    border-left: 10px solid #5885ec;
    padding: 0 0 0 30px;
	width:100%;
}

section#sobre-curso .info-curso-mt h2 {
    color: #5885ec;
    text-transform: uppercase;
}

section#sobre-curso .info-curso h2 {
    color: #ff8756;
    text-transform: uppercase;
}
section#sobre-curso .info-curso p{
	font-family: 'Titillium Web', sans-serif;
}

li.step1 span{
	display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    background: #f96868;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 1.2;
}
li.step2 span{
	display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    background: #57c7d4;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 1.2;
}
li.step3 span{
	display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    background: #f1b472;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 1.2;
}
li.step4 span{
	display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    background: #46be8a;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 1.2;
}

li.valor-de, li.valor-por {
    text-align: center;
}

li.valor-de span{
	text-decoration: line-through;
}

li.valor-por span{
	font-size: 1.3em;
    color: #f2b471;
    font-weight: 600;
}

/*============ TÍTULOS ============*/

section#cadastro h4.titulo-modo{
	display: block;
	color:#30639c;
	font-size: 1.1em;
}

h2.varejo{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
	font-size: 2.3em;
	color: #004898;
}

.area-inscricao-cursos h1{
	width: 100%;
    color: #fff;
    font-size: 3em;
    border-bottom: solid 2px #fff;
    font-family: 'Oswald', Arial, sans-serif;
	margin: 15px 15px 30px;
}

section#modalida h1{
	display: block;
	color: #416f96;
	width: 100%;
	font-family: 'Kanit', sans-serif;
    text-align: center;
    font-weight: 600;
	text-transform: uppercase;
    margin: 0 auto 30px;
    font-size: 2.5em;
}
section#calendario h1, section#cadastro h3{
	display: block;
	color: #30639c;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 30px;
    font-size: 2.5em;
}
section#cadastro h3.residencial, section#social h5{
	margin-top: 30px;
}
section#social h5{
	display: block;
    color: #30639c;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 30px auto;
    font-size: 1.8em;
}

section#cadastro h1{
	display: block;
	color: #f96868;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 auto 30px;
    font-size: 2.5em;
}


section#sobre-curso .carousel-inner h5{
	font-family: 'Oswald', sans-serif;
	text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
	font-size: 2.5em;
    text-transform: uppercase;
}

.carousel-item {
	width:100%;
}

.carousel-item img {
	width:100%;
}

section#descricao-curso h3, section#cadastro-concluido h1{
	text-transform: uppercase;
	display: block;
	width: 100%;
	font-family: 'Kanit', sans-serif;
    text-align: center;
    color: #2d7987;
    font-weight: 600;
    margin: 0 auto 30px;
    font-size: 2.5em;
}
section#cadastro-concluido h1 span {
    display: block;
    text-transform: none;
    font-size: 0.7em;
}
section#sobre-curso h3{
	display: block;
	width: 100%;
	font-family: 'Kanit', sans-serif;
    text-align: center;
    color: #57c7d4;
    font-weight: 800;
    margin: 0 auto 30px;
    font-size: 1.3em;
	text-transform: uppercase;
}
section#sobre-curso h3 span{
	font-weight: 400;
	font-size: 2em;
}

.modo-curso h2, .dura-curso h2, .modal-curso h2{
	color: #fff;
	font-size: 1.5em;
	/*border-top: solid 1px rgba(255, 255, 255, 0.4);*/
	font-family: 'Oswald', Arial, sans-serif;
	padding-top: 15px;
	margin: 0 auto;
}

/*============ CALENDARIO CONFIRMACAO ============*/
.calendario {
    float: left;
    background: #30639c;
    color: #fff;
    padding: 5px 8px;
    border-radius: 4px;
	margin-right: 15px;
}
.calendario span.confirma-dia {
    display: block;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 3.5em;
    line-height: 0.8;
}
.calendario span.confirma-mes {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
}

.calendario span.confirma-semana {
    display: block;
    text-align: center;
    font-size: 0.8em;
}

button.btn.btn-secondary.cancelar{
	background: #848484;
}
button.btn.btn-secondary.cancelar:hover{
	background: #6f6f6f;
}
button.btn.btn-primary.confirmar{
	background-color: #31629c;
    border: none;
}
button.btn.btn-primary.confirmar:hover{
	background: #1c426f;
}


/*============ LISTAS ============*/
ul.cursos li{
	float: left;
	font-size: 14px;
}
.area-inscricao-cursos ul{
	margin: 10px 15px;
}
.area-inscricao-cursos ul.cursos{
	margin: 10px 0;
	float: left;
}
ul#myTab li.nav-item .nav-link{
	color:rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
	margin-right:5px;
    border: none;
	border-radius: 4px;
	}
ul#myTab li.nav-item > .nav-link.active{
	color: #fff;
    background-color: #004898;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
ul.tipocurso {
    margin: 5px 15px;
    border-bottom: none;
}


 label {
    cursor: pointer;
}

/*============ DATAS ============*/

ul.data-prova, ul.confirmacao, ul.importante {
	list-style: none;
    border: solid 1px #cecece;
    border-radius: 4px;
    padding: 15px;
	background: #FFF;
}


ul.importante li.icones {
	list-style:none;
}


ul.data-prova li.dia {
	font-family: 'Kanit', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 5em;
    line-height: 1;
}
ul.data-prova li.mes-prova{
	text-align: center;
    text-transform: uppercase;
    font-size: 1.7em;
    line-height: 1;
}
ul.data-prova li.dia-semana{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
}
ul.data-prova li.periodo-prova{
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
}
ul.data-prova li.endereco-prova{
	text-align: center;
    font-size: 0.8em;
    font-family: 'Titillium Web', sans-serif;
}



/*============ SUPER DATA - AGENDAMENTO ============*/
ul.super-data-prova{
	list-style: none;
    border: solid 1px #cecece;
    border-radius: 4px;
    padding: 15px;
	color: #404040;
	font-weight: 600;
}

ul.super-data-prova h2.titulo-super-data {
    text-align: center;
    text-transform: uppercase;
    background: #113d6c;
    padding: 10px;
	color: #FFF;
	margin-bottom: 15px;
}

ul.super-data-prova li.dia{
	font-family: 'Kanit', sans-serif;
    width: 25%;
	float: left;
    border-radius: 4px;
	margin-right: 15px;
    color: #113d6c;
    background: #FFF;
    text-align: center;
	font-weight: 600;
    font-size: 5em;
    line-height: 1;
	padding: 10px 5px;
}

ul.super-data-prova li.dia span.super-mes, ul.super-data-prova li.dia span.super-semana{
	display: block;
	padding: 4px 0;
	text-align: center;
}

ul.super-data-prova li.dia span.super-mes{
	text-transform: uppercase;
	font-size: 0.3em;
	font-weight: 800;
}
ul.super-data-prova li.dia span.super-semana{
	font-size: 0.2em;
	font-weight: 600;
}
ul.super-data-prova li.mes-prova{
	text-align: center;
    text-transform: uppercase;
    font-size: 1.7em;
    line-height: 1;
}
ul.super-data-prova li.dia-semana{
	display: block;
    text-align: left;
	font-family: 'Titillium Web', sans-serif;
}
ul.super-data-prova li.periodo-prova{
	display: block;
    text-align: left;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.2em;
}
ul.super-data-prova li.endereco-prova{
	display: block;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
	font-size: 1.2em;
}

ul.confirmacao {
	min-height: 410px;
}

ul.confirmacao li.icones, ul.confirmacao li h2,
ul.importante li.icones, ul.importante li h2 {
	text-align: center;
	margin-bottom: 15px;
}

ul.confirmacao i.fas, ul.confirmacao i.far,
ul.importante i.fas, ul.importante i.far {
	text-align: center;
	font-size: 5em;
}

ul.confirmacao li,
ul.importante li {
	text-transform: uppercase;
	font-weight: 800;
	font-family: 'Titillium Web', sans-serif;
}
ul.confirmacao li span, ul.importante li span {
	text-transform: none;
	font-weight: normal;
	display: block;
}

ul.confirmacao li i.fas.fa-graduation-cap,
ul.importante li i.fas.fa-graduation-cap {
	color: #57c7d4;
}

ul.confirmacao li i.fas, ul.importante li i.fas {
	color: #46be8a;
}

ul.confirmacao li i.far.fa-user, ul.importante li i.far.fa-user {
	color: #f1b472;
}

ul.confirmacao li i.fa-tasks, ul.importante li i.fa-tasks {
	color: #f96868;
}

ul.importante ul  {
	list-style-type:circle;
}

ul.importante ul.texto-importante-vestibular li span  {
	font-size:0.799999em;
	line-height: 0.8em;
}

span.pos-texto-importante {
	font-family:'Titillium web', sans-sans-serif;
	font-size: 0.799999em;
	font-weight: normal;
	line-height: 0.8em;
}

/*============ REDES SOCIAIS ============*/
section#social .finalizado a i {
	color: #30639c;
	font-size: 3em;
    margin: 0 15px;
}
section#social .finalizado a:hover i {
	color:#1d4877;
}


/*============ BOTÕES ============*/

.input-group {
	margin-top: 10px;
}

.btn-group .btn+.btn,
.btn-group .btn+.btn-group,
.btn-group .btn-group+.btn,
.btn-group .btn-group+.btn-group,
.btn-group-vertical .btn+.btn,
.btn-group-vertical .btn+.btn-group,
.btn-group-vertical .btn-group+.btn,
.btn-group-vertical .btn-group+.btn-group {
	margin-left: 0;
}

.btn-secondary {
    color:rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
	margin-right:5px;
    border: none;
}




/* @media (max-width:600px) {
    .btn-secondary#estr-sim,
    .btn-secondary#estr-nao  {
        width:99%;
    }
} */

.btn-secondary:last-child {
    margin-right: 0;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #004898;
    border:none;
}
.btn-group.btn-group-toggle span.text-estrangeiro {
    display: block;
    padding: 7px 15px;
}
a.bt-impressao{
	background: #57c7d4;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 8px 20px;
    font-size: 1.2em;
    margin: 15px 0;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
a.bt-impressao i.fas{
	margin-right: 7px;
}
a.bt-impressao:hover, a.bt-impressao:active{
	background: #44adb9;
	text-decoration: none;
}
.mtop30{margin-top: 30px;}

/*============ PARAGRAFOS ============*/
p.edital{
	margin: 15px 0 0;
}
p.textolegal{
	font-family: 'Titillium Web', sans-serif;
	font-size: 0.8em;
	color:#000000;
}
section#cadastro-concluido p.aproveite{
	width: 100%;
	font-family: 'Titillium Web', sans-serif;
	text-align: center;
	font-weight: 600;
}
section#cadastro-concluido p.aproveite span{
	text-transform: uppercase;
	font-weight: 700;
}

/*============ LINKS ============*/
.nav-tabs .nav-item.show a.nav-link, .nav-tabs a.nav-link.active{
    color: #fff;
    background-color: #004898;
    border: none;
    float: right;
    border-radius: 4px;
    cursor: pointer;
}
.nav-tabs.tipocurso a.nav-link a{
	color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 5px;
    border: none;
}
.nav-tabs a.nav-link.active {
    color: #fff !important;
    background-color: #004898;
    border: none;
}
a.download-edital{
	color: #fff;
	text-decoration: none;
}
a.download-edital:hover{color:#ffd51d;}


a.alterar-dados, a.alterar-dados i.far.fa-edit{
	font-size: 0.9em;
	color:#30639c;
}

/*============ RODAPÉ ============*/
footer.rodape-educacao {
	background:rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.75);
	text-align: center;
	position: relative;
	margin-top: 15px;
    width: 100%;
    bottom: 0;
}

body.foot footer.rodape-educacao {
	background:rgba(255, 255, 255, 0.5);
	text-align: center;
	position: relative;
	margin-top: 15px;
    width: 100%;
    bottom: 0;
}

footer.rodape-educacao p {
	color:#000;
	text-align: center;
}

ul.confirmacao li.altera {
	border-top: solid 1px #d2d2d2;
    margin-top: 15px;
    padding-top: 5px;
}

@media only screen and (max-width: 767px) {

	body.foot footer.rodape-educacao {
		bottom: -100px;
	}

	footer.rodape-educacao {
		bottom: -100px;
	}

	.form-control {
    	width: 100% !important;
    	margin-bottom: 5px !important;
	}

	.input-group>.form-control {
	 	border-radius:.25rem !important;
	}

	header.navegacao .barra-varejo, header.navegacao .barra-varejo h2.varejo {
	    margin: 0 auto;
	    text-align: center !important;
	    font-size: 24px;
	}

	header.navegacao .barra-varejo h2.varejo {
    	margin-top: 15px;
	}

	.btn-group, .btn-group-vertical {
    	display: block;
	}

	.btn-group.btn-group-toggle:nth-child(2) {
    	width: 100%;
    	float: left !important;
	}

	span.text-estrangeiro {
    	float: left;
    	margin: 20px 10px 10px 0;
	}

	.btn-group.btn-group-toggle:nth-child(2)>.btn,
	.btn-group.btn-group-toggle:nth-child(2)>.btn-group>.btn {
		/* width: 35%;
    	margin: 13px 0; */
		width:47.4%;
		margin:1%;
	}

	.btn-group.btn-group-toggle:nth-child(1) {
    	display: inline-block;
	}

	.btn-group.btn-group-toggle:nth-child(1)>label {
    	width: 47.4%;
    	margin: 1%;
    	border-radius: 0;
	}
}

@media only screen and (min-width: 768px) {

	body.bg-home {
		/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular.jpg); */
		/* background-image: url(/vestibular/public/assets/presencial/images/bg-vestibular.jpg); */
		background-image: url(/vestibular/public/assets/presencial/images/bg_geral_desktop.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	body.bg-home-dua{
		background-image: url(/vestibular/public/assets/images/bg_dua.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		/* background-position: bottom bottom */
	}

	body.bg-home-umesp{
		/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
		/* background-image: url(/vestibular/public/assets/presencial/images/IZABELA-bg-vestibularBG_MOBILE.JPG); */
		background-image: url(/vestibular/public/assets/presencial/images/umesp_bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	body.bg-home-izabela{
		/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
		/* background-image: url(/vestibular/public/assets/presencial/images/IZABELA-bg-vestibularBG_DESKTOP.JPG); */
		background-image: url(/vestibular/public/assets/presencial/images/izabela_bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	body.bg-home-ipa{
		/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
		/* background-image: url(/vestibular/public/assets/presencial/images/IPA-bg-vestibularBG_DESKTOP.JPG); */
		background-image: url(/vestibular/public/assets/presencial/images/ipa_bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	body.bg-home-granbery{
		/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
		/* background-image: url(/vestibular/public/assets/presencial/images/GRANBERY-bg-vestibularBG_DESKTOP.JPG); */
		background-image: url(/vestibular/public/assets/presencial/images/granbery_bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	body.bg-home-fames{
		/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
		/* background-image: url(/vestibular/public/assets/presencial/images/FAMES-bg-vestibularBG_DESKTOP.JPG); */
		background-image: url(/vestibular/public/assets/presencial/images/centenario_bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	body.bg-home-unimep{
		/* background-image: url(http://10.10.10.247/assets/presencial/images/bg-vestibular-mobile.jpg); */
		background-image: url(/vestibular/public/assets/presencial/images/unimep_bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.area-inscricao {
 		margin-top: 200px;
	}

	section#descricao-curso ul {
		min-height: 268px;
	}

	.modo-curso h2, .dura-curso h2, .modal-curso h2{
	color: #fff;
	font-size: 3em;
	/*border-top: solid 1px rgba(255, 255, 255, 0.4);*/
	font-family: 'Oswald', Arial, sans-serif;
	padding-top: 15px;
	margin: 0 auto;
}
section#descricao-curso h3{
	text-transform: uppercase;
	display: block;
	width: 100%;
	font-family: 'Kanit', sans-serif;
    text-align: center;
    color: #2d7987;
    font-weight: 600;
    margin: 0 auto 30px;
    font-size: 2.5em;
}
	section#cadastro-concluido h1{
	text-transform: uppercase;
	display: block;
	width: 100%;
	font-family: 'Kanit', sans-serif;
    text-align: center;
    color: #46be8a;
    font-weight: 600;
    margin: 0 auto 30px;
    font-size: 2.5em;
	}
section#sobre-curso h3{
	display: block;
	width: 100%;
	font-family: 'Kanit', sans-serif;
    text-align: center;
    color: #ff8756;
    font-weight: 800;
    margin: 0 auto 30px;
    font-size: 1.5em;
	text-transform: uppercase;
}
section#sobre-curso h3 span{
	font-weight: 400;
	font-size: 2em;
}

/* RODAPÉ */
footer.rodape-educacao{
	background:rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.75);
	position: fixed;
	margin-top: 15px;
    width: 100%;
    bottom: 0;
}

body.foot footer.rodape-educacao {
	background:rgba(255, 255, 255, 0.5);
	position: fixed;
	margin-top: 15px;
    width: 100%;
    bottom: 0;
}

footer.rodape-educacao p {
    text-align: left;
    margin-bottom: 0;
    float: left;
}
	footer.rodape-educacao img{
	float: right;
}
}

@media only screen and (min-width: 992px) {

	ul.super-data-prova li.dia {
    	width: 15%;
	}

	ul.box-investimento li {
    	font-size: 14px;
	}

	section#descricao-curso ul.box-investimento li:nth-child(2),
	section#descricao-curso ul.box-investimento li#mostracampus {
		font-weight: 400;
		font-size: 2em;
		text-align: center;
		padding: 15px 0;
		border-bottom: solid 1px rgba(255, 255, 255, 0.4);
		margin-bottom: 15px;
	}

	section#descricao-curso ul.box-investimento li#mostrapolo
	{
		font-weight: 400;
		font-size: 1.666em;
		text-align: center;
		padding: 15px 0;
		border-bottom: solid 1px rgba(255, 255, 255, 0.4);
		margin-bottom: 15px;
	}

	li.valor-por span {
		font-size: 1.5em;
	}

	ul.confirmacao {
		min-height: 480px;
	}

	footer.rodape-educacao {
		margin-top: 80px;
	}
}

@media only screen and (min-width: 1200px) {

	section#descricao-curso ul{
		min-height: 50px;
	}

	ul.box-investimento li {
    	font-size: 16px;
	}

	ul.confirmacao{
		min-height: 455px;
	}

	footer.rodape-educacao{
		margin-top: 60px;
	}
}

div#video {
    background: #0B0B0B;
    position: fixed;
    width:100%;
	top: 87px;
    max-height: 250px;
    transition: 1s opacity;
    opacity: 0.5;
}

.container-estrangeiro {
	float:right;
}

.link-text-campus {
	color:#eee;
	font-size:0.85em;
}


h4.escolha-polo {
    margin-top:15px;
}

.end-polo {
    margin-top: 20px;
    border: solid 1px #fff;
    padding: 15px;
    border-radius: 4px;
}

.end-polo h5 {
	text-transform: uppercase;
    text-align: center;
    padding: 0 0 5px 0;
    border-bottom: solid 2px;
    margin-bottom: 10px;
}


@media only screen and (max-width : 991px) {

	ul.super-data-prova li {
    	background: rgba(255, 255, 255, 0.8);
    	padding: 10px 0;
	}

	ul.super-data-prova li.dia span.super-dia {
		font-size:0.65em;
	}

	ul.super-data-prova li.dia span.super-mes {
		font-size:0.13em;
	}

	ul.super-data-prova li.dia span.super-semana {
		font-size:0.14em;
	}

	ul.super-data-prova li.periodo-prova {
		font-size:0.80em;
	}

	ul.super-data-prova li.endereco-prova {
		font-size:0.65em;
	}
}


div.polos-list {
	font-size:0.82222em;
}

/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/
.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
    color: #004898 !important;
}

/**
 *	This is all the elements used to house all text used
 * in time circles
 **/
.time_circles > div {
    position: absolute;
    text-align: center;
}

/**
 *	Titles (Days, Hours, etc)
 **/
.time_circles > div > h4 {
    font-size: 10px !important;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Century Gothic', Arial;
}

/**
 *	Time numbers, ie: 12
 **/
.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Century Gothic', Arial;
    font-size: 300%;
    margin-top: 0.4em;
    font-weight: bold;
}
