@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');

body {
  margin: 5%;
  text-align: center;
}

/* IMPORTAR APENAS OS ESTILOS NECESSÁRIOS DAQUI EM DIANTE */

h2.varejo {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 2.3em;
  color: #004898;
  line-height: 1.2;
  text-transform: uppercase;
}

h4.varejo {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2;
}

@media only screen and (max-width: 767px) {
  h2.varejo {
    text-align: center;
    font-size: 1.5rem;
  }
  h4.varejo {
    text-align: center;
    font-size: 1.2rem;
  }
}