@import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffd50f;
}

.text-center {
  text-align: center;
}

.container {
  color: #222;
  text-align: center;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

/* general styling */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Rubik", sans-serif !important;
}

.container {
  margin: 0 auto;
}

.card.blue-grey.darken-1 {
  background: url('bg.jpg');
}

.overlay {
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #057dd285), color-stop(100%, #052d449e));
  background: -webkit-linear-gradient(45deg, #057dd285 0%, #052d448c 100%);
  background: -o-linear-gradient(45deg, #057dd2 0%, #052d44 100%);
  background: linear-gradient(45deg, #057dd2 0%, #052d44d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#057dd2', endColorstr='#052d44b0',GradientType=1);
}

.card .card-content .card-title {
  display: block;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 700;
}

span.card-title {
  border-bottom: 1px solid #ffffff54;
  padding-bottom: 15px;
}

span.card-subtitle {
  font-size: 20px;
}

span.card-footertitle {
  font-size: 20px;
  margin-top: 10px;
}

.card-action.text-center a {
  display: block;
  margin: 0 auto;
}

.card-action.text-center a {
  color: #ffd50f !important;
  font-weight: 700;
  font-size: 22px;
}

.card-action.text-center a:hover {
  color: #ffeb8a !important;
  transition: 0.3s;
}

.card-action.text-center {
  background: #065790ba;
}

div.countdown span,
div.countdown ul,
div.countdown li {
  color: #fff;
}

div.countdown {
  margin-bottom: 15px;
}