.text-center {
  text-align: center;
}

.container {
  color: #222;
  text-align: center;
}

h1 {
  font-weight: normal;
}

li.text-center {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

li.text-center span {
  display: block;
  font-size: 4.5rem;
}

.allcardCountdown {
  width: 100%;
  font-family: "Rubik", sans-serif !important;
}

.allcardCountdown a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

.cardCountdown.blue-grey.darken-1 {
  background: url("bg.jpg");
}

.overlay {
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    color-stop(0%, #057dd285),
    color-stop(100%, #052d449e)
  );
  background: -webkit-linear-gradient(45deg, #057dd285 0%, #052d448c 100%);
  background: -o-linear-gradient(45deg, #057dd2 0%, #052d44 100%);
  background: linear-gradient(45deg, #057dd2 0%, #052d44d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#057dd2', endColorstr='#052d44b0',GradientType=1);
}

.cardCountdown .cardCountdown-content .cardCountdown-title {
  display: block;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1em;
}

span.cardCountdown-title {
  border-bottom: 1px solid #ffffff54;
  color: #ffd50f !important;
  padding-bottom: 15px;
}

span.cardCountdown-subtitle {
  font-size: 20px;
}

span.cardCountdown-footertitle {
  font-size: 20px;
  margin-top: 10px;
}

.cardCountdown-action.text-center.overlay {
  padding: 20px 0px;
}

.cardCountdown-action.text-center a {
  display: block;
  margin: 0 auto;
}

.cardCountdown-action.text-center a {
  color: #fff !important;
  font-size: 18px;
  text-transform: unset !important;
}

.cardCountdown .cardCountdown-content {
  padding: 24px 24px 1px 24px !important;
}

div.countdown span,
div.countdown ul,
div.countdown li {
  color: #fff;
}

div.countdown {
  margin-bottom: 15px;
}

.yellow-span {
  color: #ffd50f;
  font-weight: 500;
}

@media only screen and (min-width: 767px) {
  .allcardCountdown {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }

  .allcardCountdown:hover {
    box-shadow: 8px 12px 10px -10px rgba(0, 0, 0, 0.5);
  }
}